<mat-toolbar color="primary">
    <span>
        <mat-icon>check_circle</mat-icon>
    </span>
    <span>To-do-list</span>
    <span class="example-spacer"></span>
    <a  mat-button routerLink="/">Home</a>
    <a mat-button routerLink="/portafolio"> Portafolio </a>
    
    <button mat-button [matMenuTriggerFor]="menu">gggg</button>
        <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/profile">Profile</button>
        <button mat-menu-item>Logout</button>
        </mat-menu>
  </mat-toolbar>