<button mat-icon-button (click)="back()">
  <mat-icon>arrow_back</mat-icon>
</button>

<mat-card class="mt-2">
  <mat-card-header>
    <mat-card-title>{{ tarea.titulo }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Fecha límite: {{ tarea.fecha | date: 'dd/MM/yyyy' }}</p>
    <p>Descripción: {{ tarea.descripcion }}</p>
    <p>
      Nivel de prioridad: 
      <ng-container *ngIf="tarea.prioridad == 1">
        <mat-icon style="color: green;">circle</mat-icon> Baja Prioridad
      </ng-container>
      <ng-container *ngIf="tarea.prioridad == 2">
        <mat-icon style="color: orange;">circle</mat-icon> Media Prioridad
      </ng-container>
      <ng-container *ngIf="tarea.prioridad == 3">
        <mat-icon style="color: red;">circle</mat-icon> Alta Prioridad
      </ng-container>
    </p>
  </mat-card-content>
</mat-card>
