.card-tarea{
    align-items: center;
    align-content: center;
    margin-bottom: 10%;
    position: relative;
    padding-top: 20px;
}
.check-icon-green {
    color: green;
  }
  
  .check-icon-default {
    color: inherit; 
  }
mat-chip.detalles{
    background-color: #2C3E50;
    color: white;
  }
.priority-icons{
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  gap: 5px;
}
.mat-card-title{
  padding-right: 40px;
}
