.card-tarea{
    align-items: center;
    align-content: center;
    margin-bottom: 10%;
}
.check-icon-green {
    color: green;
  }
  
  .check-icon-default {
    color: inherit; 
  }
mat-chip.detalles{
    background-color: #2C3E50;
    color: white;
  }
  