/* You can add global styles to this file, and also import other style files */
.container{
    background-color: rgb(207, 207, 207);
}
.fondo{
    background-color: #375777;
}
.texto{
    padding-top: 20px;
}
body{
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.fixed-card{
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
}
.fixed-card mat-card-content{
    flex: 1;
}
.centered-card{
    width: 300px;
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
}
.color{
    background-color: #b8b8b8;
    padding: 30px;
    border-radius: 10px;
    position: sticky;
    top:30px;
    right:0;
}


